<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    
    <link href="@Url.Content("~/Content/Kendo/kendo.common.min.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Kendo/kendo.kendo.min.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Kendo/kendo.examples.min.css")" rel="Stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/screen.css")" rel="Stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script src="@Url.Content("~/Scripts/kendo.all.min.js")" />
</head>

<body>
    <script>
        $(function () {
       }); 
    </script>
    @RenderBody()
</body>
</html>
