<script src="@Url.Content("~/Scripts/templateLoader.js")"></script>
<script src="@Url.Content("~/Scripts/" + @ViewData["mode"] + ".js")"></script>
<script src="@Url.Content("~/Scripts/events.js")"></script>

    <div class="description">
        @ViewData["description"]
    </div>
    <br />
    <div>
        <div id="title">
            <h2>Todo List - @ViewData["title"]</h2>
            <button id="saveDeletes" class="k-button" data-event="saveAll">Save Changes</button>
        </div>
        <hr />
        <input type="text" id="new-item" class="title" />
        <button id="addItem" class="k-button add-button title" data-event="addItem">Add</button>
        <ul id="items"></ul>
    </div>
</div>





